SUPABASE_ANNON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2YWJ1c3BpeGZnc2NxaWR5ZmtpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxMzQ1OTksImV4cCI6MjA4MTcxMDU5OX0.TwWK_Q3EmY7995I2wesTGrgSAV4pNp_edW2vYc4qGWU"
SUPABASE_URL="https://lvabuspixfgscqidyfki.supabase.co"